.content-title {
	font-size: 16px; 
	font-family: Arial;
	border-width: 0 0 1px 0;
  border-style: solid;
	padding-bottom: 4px;
}

.content-body {
	margin-top: 10px;
	font-size: 14px;
}

.content-body input, .content-body button {
	font-size: 14px;
}