.weather-img {
	height: 75px;
	width: 70px;	
	background-size: contain;
}

.weather-img.cloud {
	background: url("../img/icons.png") -68px -367px;
}

.weather-img.rain {
	background: url("../img/icons.png") -285px -365px;
}

.weather-img.clear {
	background: url("../img/icons.png") -67px -7px;
}

.weather-img.unknown	 {
	background: url("../img/icons.png") -140px -511px;
}

.weather-loading {
	height: 75px;
	width: 70px;	
	background-size: contain;
	background-image: url("../img/spinner.png");
}